<!DOCTYPE html>
<html lang="{{ .Language }}" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar.html" . }}

    <section class="section" style="flex:1">

      <!-- Content -->
      <div class="container" style="min-height:56vh">
        {{- if .Data.Singular }}
        <h1 class="title">{{ .Data.Singular | title }}: {{ .Title }}</h1>
        {{- else }}
        <h1 class="title">{{ .Kind | title }}: {{ .Title }}</h1>
        {{- end }}

        {{- range .Paginator.Pages }}
          {{ .Render "summary" }}
        {{- end }}
      </div>

      <br>
      <br>
      <br>

      <!-- Pagination -->
      <div class="container">
        {{ partial "pagination-list.html" . }}
      </div>

    </section>

    {{ partial "footer.html" . }}

  </body>

</html>
