<footer class="footer">
  <div class="container">
    <nav class="level">

      {{ range $.Site.Home.Sections -}}
      <div class="level-item has-text-centered">
        <a href="{{ .URL }}" class="heading">
          <span class="header">{{ .Title }}</span>
        </a>
      </div>
      {{- end }}

    </nav>

    <nav class="level">

      <div class="level-left has-text-centered">
        <div class="level-item">
          <form class="control has-icon has-icon-right" method="get"
                action="{{ if .Site.Params.searchURL }}{{ .Site.Params.searchURL }}
                        {{- else }}https://duckduckgo.com
                        {{- end }}">
            <input class="input" type="text" name="q" maxlength="255"
                   placeholder="Search">
            <input class="input" type="hidden" name="sites" value="{{ .Site.BaseURL }}">
            <span class="icon is-small"><i class="fa fa-search"></i></span>
          </form>
        </div>
      </div>

      <div class="level-right has-text-centered">
        <div class="level-item">

          <a class="button" href="{{ .Site.BaseURL }}">
            <span class="icon"><i class="fa fa-home"></i></span>
          </a> &nbsp;

          <!-- Most sites have the template https://<site>.com/<user>, so just
               use that instead of hardcoding everything. Sites that don't
               follow the template will need hard-coding, though... -->
          {{- range $key, $value := .Site.Social }}
            {{- if eq $key "hacker-news" }}
          <a class="button"
             href="https://news.ycombinator.com/user?id={{ $value }}">
            <span class="icon"><i class="fa fa-{{ $key }}"></i></span>
          </a> &nbsp;

            {{- else }}
          <a class="button" href="https://{{ $key }}.com/{{ $value }}">
            <span class="icon"><i class="fa fa-{{ $key }}"></i></span>
          </a> &nbsp;

            {{- end }}
          {{- end }}

          <a class="button" href="{{ .Site.RSSLink }}">
            <span class="icon"><i class="fa fa-rss"></i></span>
          </a>

        </div>
      </div>

    </nav>
  </div>
</footer>
