<nav class="nav has-shadow">
  <div class="container">

    <div class="nav-left">
      <a class="nav-item is-brand" href="/">
        <figure class="image">
          <img src="{{ .Site.Data.defaults.icons.logo }}">
	</figure>
        <div class="title is-4">&nbsp;{{ .Site.Title }}</div>
      </a>
    </div>

    <!-- Using a <label /> here -->
    <label class="nav-toggle" for="nav-toggle-state">
      <span></span>           <!-- ^^^^^^^^^^^^^^^^ -->
      <span></span>
      <span></span>
    </label>

    <!-- This checkbox is hidden -->
    <input type="checkbox" id="nav-toggle-state"/>
    
    <div class="nav-right nav-menu">
      {{ $node := . }}
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}"
         class="nav-item is-tab
                {{ if or ($node.IsMenuCurrent "main" .) ($node.HasMenuCurrent "main" .) }}
                  is-active
                {{ end }}">{{ .Name }}
      </a>
      {{ end }}
    </div>

  </div>
</nav>
