{{- $this_link := .Permalink }}
{{- $this_tags := .Params.tags }}
{{- $.Scratch.Set "page_count" 0 }}
{{- $.Scratch.Set "count" 0 }}
{{- $.Scratch.Set "max_show" 15 }}

{{- range .Site.Pages.ByDate.Reverse }}
  {{- $page := . }}
  {{- $.Scratch.Set "has_related" false }}

  {{- if eq (.Site.Params.related) "all" -}}
    {{- $has_common_tags := intersect $this_tags .Params.tags | len | lt 0 }}
    {{- if and $has_common_tags (ne $this_link $page.Permalink) }}
      {{- $.Scratch.Set "has_related" true }}
    {{- end }}
  {{- else }}
    {{- if gt (add 1 $.Date.Unix) ($page.Date.Unix) }}
      {{- $has_common_tags := intersect $this_tags .Params.tags | len | lt 0 }}
      {{- if and $has_common_tags (ne $this_link $page.Permalink) }}
        {{- $.Scratch.Set "has_related" true }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- if $.Scratch.Get "has_related" }}
    {{- if eq ($.Scratch.Get "page_count") 0 }}
      {{- $.Scratch.Add "page_count" 1 }}
<div class="container">
  <nav class="panel">
    <p class="panel-heading">Related</p>
    {{- end }}
    {{- if lt ($.Scratch.Get "count") ($.Scratch.Get "max_show") }}
      {{- $.Scratch.Add "count" 1 }}
    <a class="panel-block" href="{{ $page.Permalink }}">
      <span class="icon is-small"><i class="fa fa-chevron-right"></i></span>
      <span>&nbsp;</span>
      <span>{{ $page.Title }}&nbsp;
      {{- range $tag := (intersect $this_tags .Params.tags) }}
      <div class="tag">{{- $tag | humanize | title }}</div>
      {{- end }}
      </span>
    </a>
    {{- end }}
  {{- end }}
{{- end }}

{{- if gt ($.Scratch.Get "page_count") 0 }}
  </nav>
</div>
{{- end }}
