<aside class="menu">
  <p class="menu-label">
    Categories
  </p>
  <ul class="menu-list">
  {{ range $name, $items := .Site.Taxonomies.categories }}
    <li>
      <a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}">
        <span>{{ $name | title }}</span>
        <span class="tag is-small">{{ len $items }}</span>
      </a>
    </li>
  {{ end }}
  </ul>
  <p class="menu-label">
    Tags
  </p>
  <ul class="menu-list">
  {{ range $name, $items := .Site.Taxonomies.tags }}
    <li>
      <a href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower }}">
        <span>{{ $name | title }}</span>
        <span class="tag is-small">{{ len $items }}</span>
      </a>
    </li>
  {{ end }}
  </ul>
</aside>
