<aside class="menu">
  {{- range $name, $taxonomy := .Site.Taxonomies }}
  {{- if not (eq (len $taxonomy) 0) }}
  <p class="menu-label">{{ $name | title }}</p>
  <ul class="menu-list">
    {{- range $key, $value := $taxonomy }}
    <li>
      <a href="{{ "/" | relLangURL }}{{ (printf "%s/%s" $name $key) | urlize | lower }}">
        <div class="tags has-addons">
          <span class="tag">{{ $key | humanize | title }}</span>
          <span class="tag is-link">{{ len $value }}</span>
        </div>
      </a>
    </li>
    {{- end }}
  </ul>
  {{- end }}
  {{- end }}
</aside>
